body{
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../img/forest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    transition: all .3s;
    /* box-sizing: border-box; */
}
main{
    height:100vh;
    width: 100vw; 
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap:20px;
}

.ludo-board{
    overflow: hidden;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);
border: 1px solid rgba(255, 255, 255, 0.43);
    width:90vh;
    height:90vh;
    /* border:1px solid red; */
    box-shadow:0px 0px 5px 0px black;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);

   
}

#videoback{
    width:100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:-999;
}
.red-home{
    /* border:1px solid red; */
    border:1px solid rgba(0,0,0,0.3);

    grid-column: 1/7;
    grid-row: 1/7;

}
.green-home{
    /* border:1px solid green; */
    border:1px solid rgba(0,0,0,0.3);

    grid-column: 10/16;
    grid-row: 1/7;

}
.blue-home{
    /* border:1px solid blue; */
    border:1px solid rgba(0,0,0,0.3);

    grid-column: 1/7;
    grid-row: 10/16;

}


.yellow-home{
    /* border:1px solid yellow; */
    border:1px solid rgba(0,0,0,0.3);

    grid-column: 10/16;
    grid-row: 10/16;

}
.winner-home{
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.4);
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.30);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(8.2px);
-webkit-backdrop-filter: blur(8.2px);
border: 1px solid rgba(255, 255, 255, 0.3); 
    grid-column: 7/10;
    grid-row: 7/10;

}
.step{
    border:1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .player{
    position: absolute;
}

.step .player:nth-child(1){

    margin-top:0px;
    margin-left:0px;
}
.step .player:nth-child(2){
    margin-top:3px;
    margin-left:3px;
}
.step .player:nth-child(3){
    margin-top:6px;
    margin-left:6px;
}
.step .player:nth-child(4){
    margin-top:6px;
    margin-left:6px;
}
.step .player:nth-child(5){
    margin-top:9px;
    margin-left:9px;
}
.step .player:nth-child(6){
    margin-top:12px;
    margin-left:12px;
}
/* .red-home-bg{
    background-image: url('../img/Hell.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
.step .player:nth-child(7){
    margin-top:15px;
    margin-left:15px;
}
.bg-red{
    background-color: #F64946;
    opacity:0.8;
}
.red-stop{
    opacity:0.8;

    background-image: linear-gradient(159deg, #f64946 25%, #e6e6e6 25%, #e6e6e6 50%, #f64946 50%, #f64946 75%, #e6e6e6 75%, #e6e6e6 100%);
background-size: 27.90px 10.71px;
}
.green-stop{
    opacity:0.8;

    background-image: linear-gradient(159deg, #7ACC43 25%, #e6e6e6 25%, #e6e6e6 50%, #7ACC43 50%, #7ACC43 75%, #e6e6e6 75%, #e6e6e6 100%);
background-size: 27.90px 10.71px;
}

.blue-stop{
    opacity:0.8;

    background-image: linear-gradient(159deg, #02aafe 25%, #e6e6e6 25%, #e6e6e6 50%, #02aafe 50%, #02aafe 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 27.90px 10.71px;
}

.yellow-stop{
    opacity:0.8;

    background-image: linear-gradient(159deg, #edda00 25%, #e6e6e6 25%, #e6e6e6 50%, #edda00 50%, #edda00 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 27.90px 10.71px;
}
.bg-green{
    opacity:0.8;

    background-color: #7ACC43;
}

.bg-blue{
    opacity:0.8;

    background-color: #02AAFE;
}

.bg-yellow{
    opacity:0.8;

    background-color: #EDDA00;
}

.white-box{
    background-color: rgba(255,255,255,0.8);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    
 
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;



   
  
}
.player-room{
    /* border:1px dotted black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;

}
.super-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    height:1.9rem;
    width:1.9rem;
    border-radius: 50%;
    border:1px solid black;
 
}
.player:hover{
    transform: scale(1.4);
    opacity:0.7;
    cursor: pointer;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba( 208, 2, 27, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px ); */
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding:10px;
color:white;
font-weight: bold;
font-size: large;
display: inline-block;
}
.control button{
    width:45px;
    height:45px;
}

.lobby{
    padding:20px 40px;
}
.control3 button{
    /* margin-top:15px; */
    width:40px;
    height:40px; 
}
.control3 .lb{
    margin-top: 15px;
   /* border: 1px solid red; */
   display: flex;
   justify-content: start;
   align-items: center;
   font-size: larger;
}

.f{
    display: flex;
   
    align-items: center; 
}

.movered1,.movegreen1,.moveblue1,.moveyellow1{
    background-image: url(../img/bat.png);
    /* background-image: url(../img/1.gif); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cun{
    border-radius: 10px;
    border:1px solid black;
    padding:0px 5px;
}
.bot{
    margin-left: 10px;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
    background-size: contain;

}
.botoff{
    background-image: url(../img/nobot.png);
}
.boton{
    background-image: url(../img/bot.png);
}
.playersel{
    background-image: url(../img/bat.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.movered2,.movegreen2,.moveblue2,.moveyellow2{
    background-image: url(../img/frog.png);
    /* background-image: url(../img/2.gif); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.movered3,.movegreen3,.moveblue3,.moveyellow3{
    background-image: url(../img/panda.png);
    /* background-image: url(../img/3.gif); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.movered4,.movegreen4,.moveblue4,.moveyellow4{
    background-image: url(../img/tiger.png);
    /* background-image: url(../img/4.gif); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* #dice{
font-size: 50px;
margin:5px;
padding:10px;
font-weight: bold;
} */
.icon{
    /* width:16px; */
    height:15px;
}
.icon2{
    height:30px;
}
.topbar{
    width:100%; 
    display:flex;
    justify-content: space-between;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: column;
     */
    
    gap: 20px;
}
.test_controller{
    text-shadow: 0px 0px 1px black;
    box-sizing: border-box;
    padding:20px;
  
    width:60vh;
    height:90vh;

    /* height: max-content; */
 /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
display: flex;
flex-direction: column;
align-items: center;
gap:20px;

}
.gameover{
    width:100vw;
    height: 100vh;
    z-index:+999;
    position:absolute;
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.29);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
display: flex;
justify-content: center;
align-items: center;
/* display: none; */

}

.welcome{
    overflow: hidden;
    width:100vw;
    height: 100vh;
    z-index:+999;
    position:absolute;
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.29);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(7.3px);
display: flex;
justify-content: center;
align-items: center;
/* display: none; */
}
.menu{
    max-width: 95vw;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* transform: scale(1.5);   */
}
.scoreboard{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.59);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(255, 255, 255, 0.66);
padding:20px;
display: flex;
flex-direction: column;
gap:10px;
transform: scale(1.5);
}
.scoreboard .playerlist{
    display:flex;
gap:10px;
    align-items: center;
}
.chatscreen{
    
    box-sizing: border-box;
    padding:20px;
  
    width:50vh;
  /* height:50vh; */
 /* From https://css.glass */
/* From https://css.glass */
/* background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(255, 255, 255, 0.3); */
display: flex;

align-items: center;
justify-content: center;
gap:20px;
}

.user_msg{
    /* From https://css.glass */
background: rgba(19, 75, 243, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.1px);
-webkit-backdrop-filter: blur(6.1px);
border: 1px solid rgba(19, 75, 243, 0.3);
padding:7px;
font-size:20px;
width: 70%;
}
.user_msg2{
    /* From https://css.glass */
background: rgba(19, 75, 243, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.1px);
-webkit-backdrop-filter: blur(6.1px);
border: 1px solid rgba(19, 75, 243, 0.3);
padding:7px;
font-size:20px;

}

.send_btn{
    border:none;
    background-color:transparent;
    background-image: url(../img/right-arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:35px;
    height:35px;
}
.send_btn:hover{
    opacity:0.7;
    cursor: pointer;
}
.winner-home{
    padding: 15px;
    display:grid;
grid-template-columns: 1fr 1fr;
}
.stack .player{
    position: absolute;
}


.control{
    display: flex;
    gap:10px;
}
#host_btn{
    margin:auto;
/* From https://css.glass */
background: rgba(255, 1, 1, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 1, 1, 0.3);
font-size: larger;
margin-top: 20px;
padding:6px 10px;
cursor:pointer;
}
#start_btn{
    opacity:0.7;
    color:white;
    margin:auto;
/* From https://css.glass */
background: rgba(15, 66, 235, 0.726);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(8, 62, 240, 0.712);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(18, 23, 59, 0.3);
font-size: larger;
margin-top: 20px;
padding:6px 10px;
cursor:pointer;
}
#loading_btn{
    margin:auto;
    /* From https://css.glass */
    /* background: rgba(255, 1, 1, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 1, 1, 0.3); */
    /* font-size: larger; */
    margin-top: 20px;
    /* padding:6px 10px; */
    /* cursor:pointer; 
     */
     background-color: transparent;
     border:none;
}
#host_btn:hover{
    opacity:0.8;
    transform: scale(1.1);
}
.control2{
    margin-top: 20px;
    justify-content: space-around;
}
.stack .player:nth-child(1){

    margin-top:4px;
    margin-left:4px;
}
.stack .player:nth-child(2){
    margin-top:8px;
    margin-left:8px;
}
.stack .player:nth-child(3){
    margin-top:12px;
    margin-left:12px;
}
.stack .player:nth-child(4){
    margin-top:16px;
    margin-left:16px;
}

#dice{
    width:100px;
    height:100px;
    background-color:transparent;
    border:none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.dice{
    width:100px;
    height:100px;
}
.d0{
    background-image: url('../img/dice0.png');
}
.d1{
    background-image: url('../img/dice1.png');
}
.d2{
    background-image: url('../img/dice2.png');
}
.d3{
    background-image: url('../img/dice3.png');
}
.d4{
    background-image: url('../img/dice4.png');
}
.d5{
    background-image: url('../img/dice5.png');
}
.d6{
    background-image: url('../img/dice6.png');
}
@media screen and (max-width: 900px) {
    main{
        height:100vh;
        width: 100vw; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    
    .ludo-board{
        overflow: hidden;
        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(255, 255, 255, 0.43);
        width:95vw;
        height:95vw;
        /* border:1px solid red; */
        box-shadow:0px 0px 5px 0px black;
        display: grid;
        grid-template-columns: repeat(15,1fr);
        grid-template-rows: repeat(15,1fr);
    
       
    }
    .player-room{
        /* border:1px dotted black; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    
    }
    .sidebar{
        display: none;
    }
    .player{
        width:1.2rem;
        height:1.2rem;

    }

    .test_controller{
        
        box-sizing: border-box;
        padding:20px;
      
        width:95vw;
        height:auto;
    
        /* height: max-content; */
     /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* grid-template-columns: 1fr 1fr;
    gap:50px; */
    
    }
    .topbar{
        /* grid-column: 1/3; */
        /* width:50%;  */
        display:flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    .chatscreen{
        display:none;
    }
    .menu{
        box-sizing: border-box;
        max-width: 95vw;
        background: rgba(255, 255, 255, 0.59);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.3px);
        -webkit-backdrop-filter: blur(7.3px);
        border: 1px solid rgba(255, 255, 255, 0.66);
        padding:10px;
        display: flex;
        flex-direction: column;
        gap:10px;
        /* transform: scale(1.5);   */
    }
    .lobby{
        padding:20px 0px;
    }
  }